---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Networking">
    <h2>Table of contents:</h2>
    <ol>
        <li>
            <a href="#what-is-networking">What is networking?</a>
        </li>
        <li>
            <a href="#what-is-networking">What is networking?</a>
        </li>
    </ol>
    <h2 id="what-is-networking">What is networking?</h2>
</Layout>