---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Computer Science Notes">
    <p>
        I have been studying Computer Science and thought I'd share some of my notes. Not only do I revist them from time to time,
        but I hope they can help you in your journey.
    </p>
    <p>
        <strong>Note:</strong> I've intentionally designed this site with minimal styling. CSS styling really takes away a lot of my developer time.
    </p>
    <h2>Topics:</h2>
    <ul>
        <li>
            <a href="/cs-notes/architecture">Computer Architecture</a>
            <small>Not started</small>
        </li>
        <li>
            <a href="/cs-notes/databases">Databases</a>
            <small>Not started</small>
        </li>
        <li>
            <a href="/cs-notes/networking">Networking</a>
        </li>
        <li>
            <a href="/cs-notes/os">Operating Systems</a>
            <small>Not started</small>
        </li>
    </ul>
</Layout>